# Compiled
*.elc
*.eln

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Package stores
elpa/
elpaca/
straight/

# Junk
desktop/
history
auto-save-list
forge-database.sqlite
transient
recentf
places
custom.el
README.el
places
